{% extends "layout.html" %}
{% block content %}
	<div class="gallery">
		<figure class="gallery__item">
			<img src="../static/img/rajab.jpg" alt="Post pic" class="gallery__photo">
		</figure>
		<figure class="gallery__item">
			<img src="../static/img/rajjab.jpg" alt="Post pic" class="gallery__photo">
		</figure>
		<figure class="gallery__item">
			<img src="../static/img/rajab.jpg" alt="Post pic" class="gallery__photo">
		</figure>
	</div>

	<div class="overview">
		<h1 class="overview__heading">Raedar's Mark</h1>
		<div class="overview__stars">
			<svg class="overview__icon-star">
				<use xlink:href="../static/img/sprite.svg#basic_message.svg"></use>
			</svg>
			<div class="overview__icon-star">
				<img src="../static/img/SVG/basic_heart.svg" alt="icon" class="icons-resized">
			</div>
			<svg class="overview__icon-star">
				<use xlink:href="../static/img/sprite.svg#basic_message.svg"></use>
			</svg>
			<div class="overview__icon-star">
				<img src="../static/img/SVG/basic_heart.svg" alt="icon" class="icons-resized">
			</div>
			<svg class="overview__icon-star">
				<use xlink:href="../static/img/sprite.svg#basic_message.svg"></use>
			</svg>
			<div class="overview__icon-star">
				<img src="../static/img/SVG/basic_heart.svg" alt="icon" class="icons-resized">
			</div>
			<svg class="overview__icon-star">
				<use xlink:href="../static/img/sprite.svg#basic_message.svg"></use>
			</svg>
			<div class="overview__icon-star">
				<img src="../static/img/SVG/basic_heart.svg" alt="icon" class="icons-resized">
			</div>
			<svg class="overview__icon-star">
				<use xlink:href="../static/img/sprite.svg#basic_message.svg"></use>
			</svg>
			<div class="overview__icon-star">
				<img src="../static/img/SVG/basic_heart.svg" alt="icon" class="icons-resized">
			</div>
		</div>
		<div class="overview__location">
			<svg class="overview__icon-location">
				<use xlink:href="../static/img/sprite.svg#basic_message.svg"></use>
			</svg>
			<div class="overview__icon-location">
				<img src="../static/img/SVG/basic_cards_hearts.svg" alt="icon" class="icons-resized">
			</div>
			<button class="btn-inline">Entebbe, Ebbs</button>
		</div>

		<div class="overview__rating">
			<div class="overview__rating-average">
				8.6
			</div>
			<div class="overview__rating-count">
				429 views
			</div>
		</div>

	</div>

	<div class="detail">
		<div class="description">
			{% for post in posts %}
				<a href="{{ url_for('blogs.post', blog_id=post.id) }}">{{ post.topic }}</a>
				<p class="paragraph ml-4">
					{{ post.content }}
				</p>
				<!-- <p class="paragraph">
					Accrium dolor sit amet consectetur adipisicing elit. Architecto culpa dicta 
					suscipit, sed quibusdam labore harum assumenda exercitationem.
				</p> -->
				<ul class="list">
					<li class="list__item">{{ post.forum_type }}</li>
					<li class="list__item">Sports forum</li>
					<li class="list__item">Lime forum</li>
					<li class="list__item">Business forum</li>
					<li class="list__item">Money forum</li>
					<li class="list__item">Lifestyle forum</li>
					<li class="list__item">Talk forum</li>
					<li class="list__item">Loud forum</li>
				</ul>
				<div class="recommend">
					<p class="recommend__count">
					Create on {{ post.date_created.strftime('%d-%m-%Y') }} at {{ post.date_created.strftime('%H : %M') }} 
					</p>
					<div class="recommend__friends">
						<span class="m-4"><a href="{{ url_for('users.user_timeline', username=post.author.username) }}">{{ post.author.username }}</a></span>
						<img src="{{ url_for('static', filename='profile_pics/' + post.author.imagefile) }}" alt="We" class="recommend__photo mb-4">
						<!-- <img src="../static/img/rajab.jpg" alt="Us" class="recommend__photo">
						<img src="../static/img/rajab.jpg" alt="Her" class="recommend__photo">
						<img src="../static/img/rajab.jpg" alt="Why" class="recommend__photo"> -->
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="user-reviews">
            <legend class="border-bottom mb-4 u-center-text heading-sec-1"> Trending Topics</legend>
			<figure class="review">
				<blockquote class="review__text">
					Accrium dolor sit amet consectetur adipisicing elit. Architecto culpa dicta 
					suscipit, sed quibusdam labore harum assumenda exercitationem.
				</blockquote>
				<figcaption class="review__user">
					<img src="../static/img/rajjab.jpg" alt="Rajab 1" class="review__photo">
					<div class="review__user-box">
						<p class="review__user-name">J Rajab</p>
						<p class="review__user-date">Feb 22 '17</p>
					</div>
					<div class="review__rating">
						9.1
					</div>
				</figcaption>
			</figure>

			<figure class="review">
				<blockquote class="review__text">
					Consectetur adipisicing elit. Architecto culpa dicta quibusdam labore harum 
					assumenda exercitationem.
				</blockquote>
				<figcaption class="review__user">
					<img src="../static/img/rajjab.jpg" alt="Rajab 1" class="review__photo">
					<div class="review__user-box">
						<p class="review__user-name">J Hagary</p>
						<p class="review__user-date">Mar 22 '17</p>
					</div>
					<div class="review__rating">
						6.3
					</div>
				</figcaption>
			</figure>

			<button class="btn-inline">View all <span>&rarr;</span></button>

		</div>
	</div>

	<!-- <div class="cta">
		<h2 class="cta__book-now">
			Good new it all now done
		</h2>
		<button class="btn">
			<span class="btn__visible">Book now</span>
			<span class="btn__invisible">Only u is missing</span>
		</button>
	</div> -->
{% endblock content %}